body{
	background-image: url('../img/bg.jpg')
}
.imgContent{
	margin: 0 auto 0 auto;
	width: 8.0625rem;
	perspective: 25rem;/* 透视点*/
}
#box{
	-webkit-transform-style:preserve-3d;/*保证每个都在div里面*/
	height: 100%;
    -webkit-perspective-origin:50% 50%;
}

#box > div{
	position: absolute;
	width: 8.0625rem;
	height: 73.125rem;
}